.App {
  text-align: center;
  padding-top: 36px;
}

.SearchFormWrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MoviesList__item{
  margin-bottom: 20px;
  width: 48%;;
}